/* add css module styles here (optional) */

.Toastify__toast-container {
  width: auto;
  max-width: 470px;
}

.Toastify__toast-container--top-center {
  top: 135px;
}
.Toastify__toast-container--bottom-center {
  bottom: 60px;
}

.breadcrumbs {
  font-size: 10px;
  color: #707070;
}