/* add css module styles here (optional) */

.test {
  margin: 2em;
  padding: 0.5em;
  border: 2px solid #000;
  font-size: 2em;
  text-align: center;
}

.Toastify__toast-container {
  width: auto;
  max-width: 450px;
}

.Toastify__toast-container--top-center {
  top: 135px;
}
.Toastify__toast-container--bottom-center {
  bottom: 60px;
}