/* add css module styles here (optional) */

.Toastify__toast-container {
  width: auto;
  max-width: 450px;
}

.Toastify__toast-container--top-center {
  top: 135px;
}
.Toastify__toast-container--bottom-center {
  bottom: 60px;
}

img {
  border: 3px solid #000;
}
span {
  font-weight: bold !important;
}