/* add css module styles here (optional) */

.test {
  margin: 2em;
  padding: 0.5em;
  border: 2px solid #000;
  font-size: 2em;
  text-align: center;
}

@font-face {
  font-family: 'Gotham';
  src: url('./fonts/gotham-book.eot');
  src: url('./fonts/gotham-book.eot?#iefix') format('embedded-opentype'),
    url('./fonts/gotham-book.woff') format('woff'),
    url('./fonts/gotham-book.ttf') format('truetype');
}

@font-face {
  font-family: 'Gotham-Medium';
  src: url('./fonts/gotham-medium.eot');
  src: url('./fonts/gotham-medium.eot?#iefix') format('embedded-opentype'),
  url('./fonts/gotham-medium.woff') format('woff'),
  url('./fonts/gotham-medium.ttf') format('truetype'),
  url('./fonts/gotham-medium.svg#gothamlight') format('svg');
}
