@font-face {
  font-family: 'Gotham-Book';
  src: url('assets/fonts/book/gotham-book.eot');
  src: url('assets/fonts/book/gotham-book.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/book/gotham-book.woff') format('woff'),
    url('assets/fonts/book/gotham-book.ttf') format('truetype'),
    url('assets/fonts/book/gotham-book.svg#gothambook') format('svg');
}
@font-face {
  font-family: 'Gotham-Medium';
  src: url('assets/fonts/medium/gotham-medium.eot');
  src: url('assets/fonts/medium/gotham-medium.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/medium/gotham-medium.woff') format('woff'),
    url('assets/fonts/medium/gotham-medium.ttf') format('truetype'),
    url('assets/fonts/medium/gotham-medium.svg#gothammedium') format('svg');
}

.Toastify .Toastify__toast-container {
  width: auto;
  max-width: 470px;
}

.Toastify__toast-container--top-center {
  top: 135px;
}
.Toastify__toast-container--bottom-center {
  bottom: 60px;
}

.breadcrumb {
  font-size: 10px;
  color: #707070;
  cursor: pointer;
}

.navigation {
  font-size: 10px;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: 'auto';
  background: 'transparent';
  border-bottom: 1px solid #F7F7F7;
}
.navigation svg {
  width: 30px;
  height: 30px;
}
.navigation.active {
  background: #f7f7f7;
}
.navigation.disabled {
  pointer-events: 'none';
  background: 'repeating-linear-gradient(45deg,#909090,#909090 10px,#BEBEBE 10px,#BEBEBE 17px)';
}

.tab {
  color: #707070;
  border-width: 1px;
  border-color: transparent;
  border-style: solid;
  padding: 2px 10px;
  margin-right: 30px;
  border-radius: 30px;
  cursor: pointer;
  text-decoration: none;
  font-size: 13px;
  margin-bottom: 10px;
  font-family: 'Gotham-Medium';
}
.tab.active {
  color: #f93549;
  border-color: #f93549;
}